<?xml version="1.0"?>
<model>
  <name>Differential Drive Robot</name>
  <version>1.0</version>
  <sdf version='1.5'>differential_drive.sdf</sdf>

  <author>
   <name>Atharva Sunder Ramdas</name>
   <email>atharvasunder24@gmail.com</email>
  </author>

  <description>
	This is a model  a differential drive robot which can be controlled by keyboard keys
  </description>
</model>
